*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik';
}


body{
    width: 100%;
    height: 100%;
}  

/***************For Navigation Bar************************/


a{
    text-decoration: none;
}

nav{
    width: 100%;
    height:15vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    width: 40%;
    display:flex;
    justify-content: space-around ;
}


.logo img{
    width:189.6px;
    height:60px;
    margin-left: 50px;
}


.main-nav ul{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #16131D;
}

.main-nav li{ 
    display: inline-block;
    padding: 5px 10px;
}

.letTalk{
    font-family: 'Freight';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #16131D;
}


/* Main conatainer */

main{
    height:100%;
    display:flex;
}

.content{
    margin:30px 30px;
}

.row{
    margin:35px 35px;   
}

.column{
    width: 50%;
    float: left;
    text-align:left;
    margin:20 20px;  
}

h1{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: #16131D;
}

.pic1{
    height: 620px;
    width: 620px;
}

h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #008BD1;
    margin: 20px 0px;
}

.text{
    font-family: 'Freight';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;

    color: #16131D;
}

.button{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3BF943;
    background: #16131D;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.brand{
    margin: 60px;
}

.services{
    display: flex;
    float: right;
    align-items: center;
    margin-top: 50px;
}

.services span{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #16131D;
}

.services img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* --------------------------------- */

.second-heading{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -0.05em;
    color: #16131D;
}

.sub-2{
    font-family: 'Freight';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    color: #16131D;
    margin: 10px 0px;
}

.vector{
    height: 80px;
    width: 80px;
    margin-top: 60px;
}

.sub-3{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: capitalize;    
    color: #16131D;
}

.text-3{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #16131D;
    opacity: 0.7;  
}


.column-2{
    width: 50%;
    float: left;
    text-align:left;
    padding-left: 10px;
}

.vector-2{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.line-2{
    margin-top: 100px;
}


/* ----------------------------- */

.column-3{
    width: 33%;
    float: left;
    text-align:left;
    padding-left: 10px;
}

.case-studies{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.05em;
    color: #17151E;
}

.text-3{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #16131D;
    margin-top: 20px;
}

.bank{
    width: 270px;
    height: 224px;
    float: right;
    background: #16131D;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bank p {
    margin-top: 30px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    opacity: 0.5;
}
p :hover{
    font-weight: 600;
}

.login{
    margin: 50px;
}

.heading{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;

    letter-spacing: -0.05em;

    color: #16131D;

    margin: 50px;
}

.sub-text{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    letter-spacing: 0.02em;

    color: #16131D;

    opacity: 0.7;
    margin: 50px;
}

.services-2{
    display: flex;
    float: left;
    align-items: center;
    margin: 50px; 

}


.services-2 span{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #16131D;
    margin-left: 30px;
}

.services-2 img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.row-3{
    background-color: #D5DDE6;
}

.row h1{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.05em;
    color: #16131D;    
}
